.section-1{
    background-color: $back-grey;
    width: 100%;
    height: fit-content;
    margin-top: 55px;
}
.info-and-pic{

    align-items: center;
    width: 100%;
    display: flex;
    justify-content: space-between;
}
.sect-1{
height: 100%;
display: flex;
align-items: center;
margin-left: 5%;
}
.enjoy{
    h1{
        font-family: amatic_font;
        font-size: 60px;
        font-weight: 400;
    }
}
.paragraph-1{
    width: 450px;
    p{
        color: $texto-grie;
        margin-top: 20px;
    }
}
.les-btn{
    display: flex;
    
    gap: 20px;
    
    a{
        background-color: $red;
        text-decoration: none;
        padding: 10px 40px;
        color: white;
        border-radius: 25px;
    }
}
.icone-et-watch{
    display: flex;
    gap: 10px;
    i{
        display: flex;
        height: 100%;
        align-items: center;
        cursor: pointer;
    }
    p{
        font-size: 20px;
        font-weight: 500;
        display: flex;
        height: 100%;
        align-items: center;
    }
}
.picture{
    img{
        width: 550px;
        padding: 50px;
    }
}

.up{
position: fixed;
bottom: 30px;
right: -80px;
transition: 0.3s;
i{
    font-size: 45px;
    cursor: pointer;
}
}
.up.show{
    right: 10px;
    z-index: 10;
}
// !!!!!!!!!!!!!!!
.popup-overlay {
    position: fixed;
    top: 50%;

    left: 50%;
    transform: translate(-50%,-50%);
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    display: none;
    align-items: center;
    justify-content: center;
    z-index: 9999;
  }
.popup-content {
         width: 800px;
        height: 450px;
    margin: 20px;
    position: relative;
    frame{
       
 width: 100%;
 height: 100%;
        z-index: 10;
    }
  }



  .close-button {
    position: absolute;
    top: 10px;
    right: 10px;
    background: none;
    border: none;
    color: #fff;
    font-size: 20px;
    cursor: pointer;
  }
// !!!!!!!!!!!!!!!!!!!!!
// !media querry for large phone-------------------------------------------------------------

@media (min-width : 375px) and (max-width : 426px) {
    .section-1{
        background-color: $back-grey;
        width: 100%;
        height: 900px ;
    }
    .info-and-pic{
        
        align-items: center;
        width: 100%;
        display: flex;
        flex-direction: column-reverse;
    }
    .sect-1{
    height: 100%;
    display: flex;
    align-items: center;
    margin-left: 5%;
    }
    .enjoy{
        h1{
            font-family: amatic_font;
            font-size: 40px;
            font-weight: 500;
            text-align: center;
        }
    }
    .paragraph-1{
        width: 100%;
        padding: 10px;
        p{
            color: $texto-grie;
            margin-top: 20px;
            text-align: center;
        }
    }
    .les-btn{
        display: flex;
        justify-content: center;
        gap: 20px;
        
        a{
            background-color: $red;
            text-decoration: none;
            padding: 10px 40px;
            color: white;
            border-radius: 25px;
        }
    }
    .icone-et-watch{
        display: flex;
        gap: 10px;
        i{
            display: flex;
            height: 100%;
            align-items: center;
            cursor: pointer;
        }
        p{
            font-size: 20px;
            font-weight: 500;
            display: flex;
            height: 100%;
            align-items: center;
        }
    }
    .picture{
        img{
            width: 400px;
            padding: 0 7px;
            margin: 70px 0 30px 0;
            
        }
    }
    // !!!!!!!!!!!!!!!
.popup-overlay {
    position: fixed;
    top: 50%;

    left: 50%;
    transform: translate(-50%,-50%);
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    display: none;
    align-items: center;
    justify-content: center;
   z-index: 9999;
  }
.popup-content {
         width: 800px;
        height: 450px;
    margin: 20px;
    position: relative;
    
    frame{
       
 width: 100%;
 height: 100%;
        z-index: 10;
    }
  }



  .close-button {
    position: absolute;
    top: 10px;
    right: 10px;
    background: none;
    border: none;
    color: #fff;
    font-size: 20px;
    cursor: pointer;
  }
// !!!!!!!!!!!!!!!!!!!!!
 
}
// !media querry for tablet-------------------------------------------------------------------------
@media (min-width : 767px) and (max-width : 1025px) {
    .section-1{
        background-color: $back-grey;
        width: 100%;
        height: 950px ;
    }
    .info-and-pic{
        
        align-items: center;
        width: 100%;
        display: flex;
        flex-direction: column-reverse;
    }
    .sect-1{
    height: 100%;
    display: flex;
    align-items: center;
    margin-left: 5%;
    }
    .enjoy{
        h1{
            font-family: amatic_font;
            font-size: 55px;
            font-weight: 500;
            text-align: center;
        }
    }
    .paragraph-1{
        width: 100%;
        padding: 10px;
        p{
            color: $texto-grie;
            margin-top: 20px;
            text-align: center;
            padding: 0 10px;
        }
    }
    .les-btn{
        display: flex;
        justify-content: center;
        gap: 20px;
        
        a{
            background-color: $red;
            text-decoration: none;
            padding: 10px 40px;
            color: white;
            border-radius: 25px;
        }
    }
    .icone-et-watch{
        display: flex;
        gap: 10px;
        i{
            display: flex;
            height: 100%;
            align-items: center;
            cursor: pointer;
        }
        p{
            font-size: 20px;
            font-weight: 500;
            display: flex;
            height: 100%;
            align-items: center;
        }
    }
    .picture{
        img{
            width: 500px;
            padding: 0 7px;
            margin: 100px 0 30px 0;
            
        }
    }
  // !!!!!!!!!!!!!!!
.popup-overlay {
    position: fixed;
    top: 50%;

    left: 50%;
    transform: translate(-50%,-50%);
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    display: none;
    align-items: center;
    justify-content: center;
  }
.popup-content {
         width: 800px;
        height: 450px;
    margin: 20px;
    position: relative;
    frame{
       
 width: 100%;
 height: 100%;
        z-index: 10;
    }
  }



  .close-button {
    position: absolute;
    top: 10px;
    right: 10px;
    background: none;
    border: none;
    color: #fff;
    font-size: 20px;
    cursor: pointer;
  }
// !!!!!!!!!!!!!!!!!!!!!

}

